.u-bordered {
  border: 1px solid #cecfd5;
  padding: 6px;
}

.u-center {
  position: relative;
  margin-top: 100px;
}

.u-clearBoth {
  clear: both;
}

.u-textAlignLeft {
  text-align: left;
}

.u-textAlignRight {
  text-align: right;
}

.u-floatLeft,
.u-floatLeft * {
  float: left;
}

.u-floatRight {
  float: right;
}

.u-posRel {
  position: relative;
}